
  
  li {
    list-style: none;
  }
  

  .header {
    background-color: #a9f7c9;
    color:black;
    height: 100px;
    padding: 20px 0px 0px 0px;

  }
  
  .header-logo {
    float: left;
    font-size: 40px;
    padding: 0px 40px;
    color:#8cbcfc;
    font-family:fantasy;
  }

  .header-list li {
    padding: 0px 20px;
    float:right;
    font-size: 10px;
  }

  .main {
    background-color: #7df8ec;
    height: 600px;
 
  }

 .link-title{
    color:black;
    font-size:20;
    padding: 33px 0px 0px 33px;
  }

  .list-item{
    float:left;
    padding:25px;
  }

  .footer {
    background-color: #96c9eb;
    color: #fff;
    height: 60px;
    padding: 40px;
  }

  .footer-logo {
    font-size: 20px;
    float: left;
  }
